<h1>Angular Shell App</h1>

<div class="parent">
  <div class="main">
    <div class="box" routerLink="/angular">
      <h3>Angular MFE</h3>
    </div>
  </div>
  <div class="main">
    <div class="box" routerLink="/react">
      <h3>React MFE</h3>
    </div>
  </div>
  <!-- <div class="main">
    <div class="box" routerLink="/local">
      <h3>Load local ng-comp</h3>
    </div>
  </div> -->
  <!-- <div class="main">
    <div class="box" routerLink="/demo">
      <h3>Load demo React MFE</h3>
    </div>
  </div> -->
</div>
<router-outlet></router-outlet>
